<div class="map">
    <perch:content id="map" type="map" label="Address" zoom="15" width="100%" height="300" />
</div>
<ul class="vcard">
	<li><span class="fn org" rel="me">Dunowen House</span>, 
		<span class="locality">Clonakilty</span>, 
		<span class="region">Co. Cork</span>, 
		<span class="country-name">Ireland</span>
	</li>
	<li><span class="tel">+353 23 886 9099</span></li>
	<li><a href='m&#97;ilto&#58;in%66&#111;&#64;d&#37;&#55;5nowen&#104;&#111;&#117;%7&#51;e&#46;&#105;&#37;65'>in&#102;o&#64;dun&#111;wenhouse&#46;ie</a></li>
	<li><a href="http://dunowenhouse.ie" class="url" rel="me">www.dunowenhouse.ie</a></li>	
	<li>GPS Co-ordinates: 51.556038, -8.905305</li>			
</ul>