<div class="map">
    <perch:content id="map" type="map" label="Address" zoom="15" />
</div>
<ul class="vcard">
	<li><span class="fn org" rel="me">Dunowen House</span>, 
		<span class="locality">Clonakilty</span>, 
		<span class="region">Co. Cork</span>, 
		<span class="country-name">Ireland</span>
	</li>
	<li><span class="tel">+353 23 886 9099</span></li>
	<li>info@dunowenhouse.ie </li>
	<li><a href="http://dunowenhouse.ie" class="url" rel="me">www.dunowenhouse.ie</a></li>	
	<li>Co-Ordinates  -  51.556038, -8.905305</li>			
</ul>