<perch:before>
<table class="selfcater">
    <tr class="toprow">
      <th><perch:label id="Period" type="text" label="Period" required="false" />Season</th>
      <th><perch:label id="Weekly" type="text" label="Weekly Rate" required="false" />Weekly Rate</th>
      <th><perch:label id="Nightly" type="text" label="Nightly Rate" required="false" />Nightly Rate</th>
      <th><perch:label id="Stay" type="text" label="Min Stay" required="false" />Min Stay</th>
      <th><perch:label id="Changeover" type="text" label="Changeover" required="false" />Changeover</th>
    </tr>
 </perch:before>
    <tr> 
    <td><perch:content id="Period" type="text" label="Period" required="false" /></td> 
    <td><perch:content id="Weekly" type="text" label="Weekly Rate" required="false" /></td> 
    <td><perch:content id="Nightly" type="text" label="Nightly Rate" required="false" /></td> 
    <td><perch:content id="Stay" type="text" label="Minimum Stay" required="false" /></td> 
    <td><perch:content id="Changeover" type="text" label="Changeover" required="false" /></td> 
    </tr>
<perch:after>
</table>
</perch:after> 
