## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.crt
*.key

## project files to ignore
img/*
pdf/*
f/*
perch/config/config.live.php
perch/config/config.staging.php
perch/config/config.local.php
perch/config/config.php
perch/resources/*
.sass-cache/*
sass/removed/*
dunowenhouse.ie.esproj/*
error_log
config.codekit
