## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## project files to ignore
i/*
pdf/*
f/*
perch/config/live.inc.php
perch/config/staging.inc.php
perch/config/local.inc.php
perch/config/config.php
perch/resources/*
perch/addons/plugins/editors/redactor
perch/addons/plugins/editors/ckeditor
perch/addons/plugins/editors/markitup
holding/*
.sass-cache/*
sass/removed/*
dunowenhouse.ie.esproj/*
error_log
config.codekit
perch/config/config.php
node_modules/*
Gruntfile.js
package.json