<perch:before>
<ul class="hfeed listing"></perch:before>
    <li>
    	<perch:if exists="image"><img src="<perch:blog id="image" type="image" width="200" height="200" crop="true" density="2" quality="25" />
    	" alt="<perch:blog id="postTitle" />" /></perch:if>
        <h5><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" words="3" append="..."/></a></h5>
        <div class="description entry-summary">
	        <perch:blog id="excerpt" type="textarea" textile="true" words="22" append="&hellip;" />
    	</div>
   </li>
   <div class="btn"><a href="<perch:blog id="postURL" />" rel="bookmark"><perch:blog id="Read More" />Find Out More</a></div>
<perch:after>   
</ul>
</perch:after>